.btn{
    margin-left:48%;
    margin-top : 45%;
    padding : 10px;
    color : white;
    background : black;
    border-radius: 10px;
    font-size:10;
}

.box{
    padding : 10px;
}

.inp{
    padding:5px;
}

.detail{
    margin-top:2px;
}

.category{
    margin-top:2px;
}