<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>오픈 채팅</title>
        <link rel = "stylesheet" href ="/css/home/index.css">
        <link rel = "stylesheet" href="/css/chat/chat.css">
        <link rel = "stylesheet" href="/css/home/login.css">
        <script src="/js/chat/newOpen.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        
    </head>
    <script>
        
    </script>
    <body>
        <div class = "container">
            <header>
                <nav>
                    <div class = "icon" onclick="location.href='/'">LiveChat</div>
                    <div class = "gnb">
                        <a href="/chat">오픈 채팅</a>
                        <a href="/board/page/1">게시판</a>
                        <a href="/chat/oneChat">1대1 채팅</a>
                        <a href="/chat/random">랜덤채팅</a>
                        <a href="/login" class="login_menu">로그아웃</a>
                    </div>
                    
                </nav>
                
            </header>
        </div>
  
        <div class="login-page">
            <div class="form">
              <form class="login-form">
                <input id="name" type="text" placeholder="채팅방 이름"/>
                <input id="detail" type="password" placeholder="채팅방 내용"/>
                <select class="inp" id="category">
                    <option value="exercise">운동</option>
                    <option value="게임">게임</option>
                    <option value="코딩">코딩</option>
                    <option value="진로">진로</option>
                </select>
                <p onclick = "newChat()" id="button">새 채팅방 만들기</p>
                <p class="message">back <a href="/openChat">page</a></p>
                
              </form>
            </div>
          </div>
        
    </body>

</html>