<!DOCTYPE html>
    <haed>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>1대 1 채팅</title>
        <link rel = "stylesheet" href ="/css/home/index.css">
        <link rel = "stylesheet" href="/css/chat/chat.css">
        <script src="/socket.io/socket.io.js"></script>
    </haed>
    <body>
        <div class = "container">
            <header>
                <nav>
                    <div class = "icon" onclick="location.href = '/'">HolyMoly</div>
                    <div class = "gnb">
                        <a href="/chat">오픈 채팅</a>
                        <a href="/board">게시판</a>
                        <a href="/chat/oneChat">1대1 채팅</a>
                        <a href="/chat/random">랜덤채팅</a>
                        <a href="/login" class="login_menu">로그아웃</a>
                    </div>
                </nav>
            </header>
        </div>
        <div class = "search-box">
            <input type="text" id="search"/>
            <button onclick = "" class="btn-search">검색하기</button>
        </div>
        
        <div>
            <h4>현재 로그인한 인원 수 : <%=count%></h4>
        </div>
        <hr>
        <div>
            <%
                var i = 0;
                for(i;i<rows.length;i++){
                    var data = rows[i];
                %>
                <div class="openChat">
                    <p class="openName"><%=data%></p>
                    <button>채팅하기</button>
                </div>
                
                <hr>
                <%}%>
        
        </div>

        <div>
            <button class="btn">내 채팅 방 목록</button>
        </div>
    </body>
</html>