<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>1대 1 채팅</title>
        <link rel = "stylesheet" href ="/css/home/index.css">
        <link rel = "stylesheet" href="/css/chat/chat.css">
        <script src="/js/chat/oneChatStart.js"></script>
    </head>
    <body>
        <div class = "container">
            <header>
                <nav>
                    <div class = "icon" onclick="location.href = '/'">LiveChat</div>
                    <div class = "gnb">
                        <a href="/chat">오픈 채팅</a>
                        <a href="/board/page/1">게시판</a>
                        <a href="/chat/oneChat">1대1 채팅</a>
                        <a href="/chat/random">랜덤채팅</a>
                        <a href="/login" class="login_menu">로그아웃</a>
                    </div>
                </nav>
            </header>
        </div>
        <div class = "search-box">
            <input type="text" id="search"/>
            <button onclick = "" class="btn-search">검색하기</button>
        </div>

        <div class="content">
            
            <div class="chat-box" id="chat">
                
           
            </div>
            <div>
                <span id ="id"><%=userId%></span>
                <input class="text-submit" type="text" id="user"/>
                <button onclick="myOnClick()" class="btn-submit">전송</button>
            </div>
        </div>
    </body>
</html>