<!DOCTYPE html>
    <haed>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>오픈 채팅</title>
        <link rel = "stylesheet" href ="/css/home/index.css">
        <link rel = "stylesheet" href="/css/chat/chat.css">
        <script src="/socket.io/socket.io.js"></script>
    </haed>
    <body>
        <div class = "container">
            <header>
                <nav>
                    <div class = "icon" onclick="location.href = '/'">HolyMoly</div>
                    <div class = "gnb">
                        <a href="/chat">오픈 채팅</a>
                        <a href="/board">게시판</a>
                        <a href="/">1대1 채팅</a>
                        <a href="/chat/random">랜덤채팅</a>
                        <a href="/login" class="login_menu">로그아웃</a>
                    </div>
                </nav>
            </header>
        </div>
        <div class = "search-box">
            <input type="text" id="search"/>
            <button onclick = "" class="btn-search">검색하기</button>
        </div>
        <div class="content">
            
            <div class="chat-box" id="chat">
                
           
            </div>
            <div>
                <span id ="id"><%=userId%></span>
                <input class="text-submit" type="text" id="user"/>
                <button onclick="myOnClick()" class="btn-submit">전송</button>
            </div>
        </div>
        
    </body>
    <script>
        const pageUrl = window.location.href;
        
        const url = new URL(pageUrl);
        const urlParams = url.searchParams;

        const roomName = urlParams.get('seq'); 

        const userId = document.getElementById("id").innerText;
        console.log(userId);
        var socket = io.connect('http://localhost:5000');
        
        socket.emit('joinRoom',{roomName:roomName,userId:userId});

        socket.on('recMsg', function (data) {
            console.log(data.comment)
            document.getElementById("chat").append(data.comment);
        });

        function myOnClick() {
            var msg = document.getElementById("user").value ;
            console.log(roomName);
            socket.emit('test',{roomName:roomName,userId:userId,comment:msg})
            //socket.emit(roomName, {comment:msg});
            
        }
    </script>
</html>