<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>랜덤 채팅</title>
        <link rel = "stylesheet" href ="/css/home/index.css">
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <div class = "container">
            <header>
                <nav>
                    <div class = "icon" onclick="location.href='/'">LiveChat</div>
                    <div class = "gnb">
                        <a href="/chat">오픈 채팅</a>
                        <a href="/board">게시판</a>
                        <a href="/chat/oneChat">1대1 채팅</a>
                        <a href="/chat/random">랜덤채팅</a>
                        <a href="/login" class="login_menu">로그아웃</a>
                    </div>
                </nav>
            </header>
        </div>
        <div id="abled" style="display: block">
            <span id="id"><%=userId%></span>님 환영합니다.
            <button onclick="searching()">랜덤 상대 찾기</button>
        </div>
        <div id="disabled" style="display: none">
            <div id="chatBox">

            </div>
            <span>id : <%=userId%></span>
            <input type="text" id="text"/>
            <button id="send">전송</button>
            <button onclick="exit()">나가기</button>
        </div>
    </body>
    <script>
        const userId = document.getElementById("id").innerText;
        var roomName = "";

        var socket = io.connect('http://localhost:5000');

        socket.on("sendRoomName", function(data) {
            roomName = data.roomName;
            const p = document.createElement('p');
            document.getElementById('chatBox').append(data.firstMessage);
            document.getElementById('chatBox').append(p);
        });

        function searching(){
            const parent = document.getElementById('chatBox');
            while(parent.firstChild){
                parent.removeChild(parent.firstChild);
            }
            document.getElementById("abled").style.display = "none";
            document.getElementById("disabled").style.display = "block";
            socket.emit('requestRandomChat', {userId:userId});
        }

        function exit(){
            document.getElementById("abled").style.display = "block";
            document.getElementById("disabled").style.display = "none";
            socket.emit('exitRoom', {userId:userId});
        }

        document.getElementById("text").addEventListener("keypress", function(e) {
            if (e.code === "Enter") {
                document.getElementById("send").click();
            }
        });

        document.getElementById("send").onclick = function() {
            var text = document.getElementById('text').value;
            if(text === '') {
                alert("내용을 입력하세요.");
                return ;
            }
            var str = userId;
            str += " : ";
            str += text;
            socket.emit('sendMessage', {roomName:roomName, data:str});
            document.getElementById('text').value = '';
        }

        socket.on('recMessage', function(data) {
            console.log(data);
            const p = document.createElement('p');
            document.getElementById('chatBox').append(data.text);
            document.getElementById('chatBox').append(p);
        })
    </script>
</html>