<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>project</title>
        <link rel = "stylesheet" href ="/css/home/index.css">
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <script>
        // 위의 socket.io.js에서 뽑아 쓴다.
        const socket = io.connect('http://localhost:5000', { // ws:// 를 안쓰고 http를 쓴다
           path: '/socket.io', // 서버 path와 일치시켜준다
           transports: ['websocket']
        });
      // 서버로부터 메세지 수신
        socket.on('news', function (data) {
            console.log(data);
            
            // 서버에게 메세지 송신
            socket.emit('reply', 'Hello Node.JS');
        });
     </script>
    <body>
        <div class = "container">
            <header>
                <nav>
                    <div class = "icon">HolyMoly</div>
                    <div class = "gnb">
                        <a href="/chat">오픈 채팅</a>
                        <a href="/board">게시판</a>
                        <a href="/">1대1 채팅</a>
                        <a href="/chat/random">랜덤채팅</a>
                        <a href="/login" class="login_menu">로그인</a>
                    </div>
                    
                </nav>
                
            </header>
        </div>
    </body>
</html>