<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>랜덤 채팅</title>
        <link rel = "stylesheet" href ="/css/home/index.css">
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <div class = "container">
            <header>
                <nav>
                    <div class = "icon" onclick="location.href='/'">LiveChat</div>
                    <div class = "gnb">
                        <a href="/chat">오픈 채팅</a>
                        <a href="/board">게시판</a>
                        <a href="/chat/oneChat">1대1 채팅</a>
                        <a href="/chat/random">랜덤채팅</a>
                        <a href="/login" class="login_menu">로그아웃</a>
                    </div>
                </nav>
            </header>
        </div>
        <span id ="id"><%=userId%></span>
        <button id="fBtn" onclick="finding()">상대 찾기</button>
        <button id="eBtn" style="visibility:hidden;" onclick="exit()">나가기</button>
    </body>
    <script>
        const userId = document.getElementById("id").innerText;
        const target1 = document.getElementById("fBtn");
        const target2 = document.getElementById("eBtn");

        function finding() {
            console.log("searching users...");

            target1.style.visibility = 'hidden';
            target2.style.visibility = 'visible';
            
            var socket = io.connect('http://localhost:5000');

            socket.emit('searchingUser', {userId:userId, nowUser:1});
        }

        function exit() {
            console.log("exit the room");

            target1.style.visibility = 'visible';
            target2.style.visibility = 'hidden';

            var socket = io.connect('http://localhost:5000');

            socket.emit('exitRoom', {userId:userId, nowUser:-1});
        }
    </script>
</html>