<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>마이페이지 수정</title>
        <link rel = "stylesheet" href ="/css/home/index.css">
        <link rel = "stylesheet" href ="/css/chat/random.css">
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class = "container">
            <header>
                <nav>
                    <div class = "icon" onclick="location.href='/'">LiveChat</div>
                    <div class = "gnb">
                        <a href="/chat">오픈 채팅</a>
                        <a href="/board">게시판</a>
                        <a href="/chat/oneChat">1대1 채팅</a>
                        <a href="/chat/random">랜덤채팅</a>
                        <a href="/login" class="login_menu">로그아웃</a>
                    </div>
                </nav>
            </header>
        </div>
            <div class="myBox">
                <p class="header">마이페이지 수정</p>
                <div>
                <img class="img"src="https://ifh.cc/g/QCO7Gm.png"/>
                </div>
                <span class="center">프로필</span>
                
                <p class="info">닉네임 : <input type="text" maxlength="20" placeholder=<%=rows.userNickname%>></p>
                <p class="info">소개글 </p>
                <textarea id="intro" class="intro" placeholder="50자 이하로 작성" rows="5" cols="21"></textarea>
                <div id="cnt">(0 / 100)</div><hr>
                <div class="center">
                <button class="btn">수정</button>
                </div>
            </div>
    </body>
    <script>
        $(document).ready(function(){
            $('#intro').on('keyup', function(){
                $('#cnt').html("("+$(this).val().length+" / 50)");

                if($(this).val().length >50){
                    $(this).val($(this).val().substring(0, 50));
                    $('#cnt').html("(50 / 50)");
                }
            })
        })
    </script>