<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>친구 프로필</title>
        <link rel = "stylesheet" href ="/css/home/index.css">
        <link rel = "stylesheet" href ="/css/chat/random.css">
        <script src="/js/home/editMypage.js" defer></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <div class = "container">
            <header>
                <nav>
                    <div class = "icon" onclick="location.href='/'">LiveChat</div>
                    <div class = "gnb">
                        <a href="/chat">오픈 채팅</a>
                        <a href="/board">게시판</a>
                        <a href="/chat/oneChat">1대1 채팅</a>
                        <a href="/chat/random">랜덤채팅</a>
                        <a href="/login" class="login_menu">로그아웃</a>
                    </div>
                </nav>
            </header>
        </div>
            <div class="myBox">
                <p class="header">친구 프로필</p>
                <div>
                <img class="img"src="https://ifh.cc/g/QCO7Gm.png"/>
                </div>
                <span class="center">프로필</span>
                <p class="info">아이디 : <sapn id="friendId"><%=rows.userId%></sapn></p>
                <p class="info">닉네임 : <%=rows.userNickname%></p>
                <p class="info">소개글 : <%=rows.intro%></p><hr>
                <div class="center">
                    <%
                        if(flag == 1){
                    %>
                        <button class="btn" onclick="del()">삭제</button>
                        <%}%>
                        <%
                        if(flag == 0){
                    %>
                        <button class="btn" onclick="">친구 추가</button>
                        <%}%>
                </div>
            </div>
    </body>
            