<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>project</title>
        <link rel = "stylesheet" href ="/css/home/index.css">
    </head>
    <body>
        <div class = "container">
            <header>
                <nav>
                    <div class = "icon" onclick="location.href='/'">HolyMoly</div>
                    <div class = "gnb">
                        <a href="/chat">오픈 채팅</a>
                        <a href="/board">게시판</a>
                        <a href="/">1대1 채팅</a>
                        <a href="/chat/random">랜덤채팅</a>
                        <a href="/login" class="login_menu">로그인</a>
                    </div>
                    
                </nav>
                
            </header>

        </div>
        <div class = content>
            <content>
                <table class = "menu">
                    <tr>
                        <td onclick = "location.href='/chat'">오픈 채팅</td>
                        <td onclick = "location.href='/boards'">게시판</td>
                    </tr>
                    <tr>
                        <td>1대1 채팅</td>
                        <td>랜덤채팅</td>
                    </tr>
                </table>
            </content>
        </div>

    </body>
</html>